.cover__subtitle {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    max-width: 360px;
    color: #ffffff;
}

@media screen and (max-width: 540px) {
    .cover__subtitle {
        width: 66%;
    }    
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }  
}