.cover {
    margin: 0 auto;
    width: 92%;
    background-image: url(../../images/train-station.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
    }
}
