.place {
    width: 100%;
    display: grid;
    grid-template-columns: 46.7% 49%;
    grid-template-rows: max-content 69%;
    row-gap: 48px;
    column-gap: 40px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, max-content);
        row-gap: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, max-content);
        row-gap: 32px;
    }
}