.place__website {
    align-self: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 786px) {
    .place__website {
        margin: 0 16px;
 }
}

@media screen and (max-width: 320px) {
    .place__website {
        margin: 0 16px;
 }
}